body{
    color: #ffc800;
    background-color:#eeccff;
    font-family:serif;
}
.heading{
    width:80%;
    font-size: 52px;
        
}
#camera{
 border:2px dashed #b700ff;
 width:350px;
 height:300px;   
}
.name_of_objects, #result_object_name, #result_object_accuracy{color: #0a8705;}